<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Octopot</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Octopot.css') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="{{ url_for('static',filename='script/Octopot.js') }}" async defer></script>
        <div class="header">
        <div class="logos">
            <div clas="logo4">
                <img src="{{ url_for('static',filename='Mascots/ProcessLogo.png') }}" alt="Logo" with="148.5vh" height="138vh" id="process">
            </div>
            <div class="logo3">
                <img src="{{ url_for('static',filename='Mascots/PersonalLogo-01.png') }}" alt="Logo" width="148.5vh" height="138vh" id="personalLogo">
            </div>
            <div class="logo">
                <img src="{{ url_for('static',filename='Mascots/OctopotLogo-01.png') }}" alt="Logo" width="148.5vh" height="138vh" id="button">
            </div>
            <div class="logo2">
                <img src="{{ url_for('static',filename='Mascots/CompanyLogo.png') }}" alt="Logo" width="113.71vh" height="125.71vh" id="companyLogo">
            </div>
            <div class="logo5">
                <img id="financeImg"src="{{ url_for('static',filename='Mascots/FinanceLogo.png') }}" alt="Logo" width="130vh" height="130vh">
            </div>
        </div>
        </div>
        <video autoplay loop muted plays-inline class="water">
            <source src="{{ url_for('static',filename='Mascots/IMG_5278.MOV') }}">
        </video>
        <div class="introduction">
            <p class="h1" id="clean">Hygiene Justice</p>
            <p class="h1">For all...</p>
        </div>
        <div class="hidden">
        <div class="intro">
            <p class="h1">A safer, more comfortable world, for all.</p>
        </div>
        </div>
        <div class="hidden">
        <div class="middle1">
            <h1 class="h2">Welcome to the Future of Sanitation</h1>
            <p class="mainInfo">We all do it. Inevitably we will all need to excuse ourselves, so therefore we all have the natural right to privately and healthily do so. Whether the limitations be societal, financial, or geopgraphical Octopot works with the community to find ways to give everyone access to their right to accessible hygiene.  
            </p>
        </div>
        </div>
        <div class="hidden">
        <div class="middle2container">
            <div class="middle2">
                <div id="Personal">
                    <p class="h1">Personal</p>
                </div>
                <div id="Company">
                    <p class="h1">Company</p>
                </div>
            </div>
        </div>
        </div>
        <div class="hidden">
        <div class="aboutcontainer">
            <div class="middle3" id="about">
                <p class="h1">About</p>
            </div>
        </div>
        </div>
        <div class="hidden">
            <div class="Contact">
                <p class="h1">Contact Us!</p>
            </div>
            <div class="footer">
                <div class="footerContainer">
                    <form method="post">
                    <div>
                        <textarea name="message" id="ContactInformation" cols="30" rows="10"placeholder="Message"></textarea>
                    </div>
                    <div>
                        <input type="email"placeholder="Email" name="email">
                        <button type="submit">Send</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>



