<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/OctopotProcess.css') }}">
    </head>
    <body>
        <div class="nav" id="nav">
            <div id="Home">
                <p class="h2" id="Hometext">Home</p>
            </div>
            <div id="Company">
                <p class="h2">Company</p>
            </div>
            <div id="Personal">
                <p class="h2">Personal</p>
            </div>
        </div>
        <!-- <div class="carbon">
            <img src="{{ url_for('static',filename='Mascots/Carbon-01-01.png') }}" alt="" id="c">
        </div> -->
        <div class="mission">
        <div class="serve">
            <p>Serve</p>
        </div>
        <div class="provide">
            <p>Provide</p>
        </div>
        <div class="educate">
            <p>Educate</p>
        </div>
        </div>
        <div class="spacer"></div>
        <!--  -->
        <div class="area" id="area">
            <div class="content">
                <div class="hidden">
                    <p  id="word1">The core of Octopot’s mission is divided into three main goals that call one to serve, to provide, and to educate the community about hygiene. These three main goals highlight the majority of Octopot’s work, and how we want to not only be viewed as an organization that serves the community physically, but also mentally through the use of education in hopes of raising a more prepared generation. 
                    </p>
                </div>
                <div class="hidden">
                    <p id="word2">To serve fits the basic definition of what we do as a non-profit cooperation. Whether the projects are indirect like fundraising for the organization, or direct as in distributing hygiene resources and managing portable toilets, one is choosing to serve. Octopot is an organization found on the concept of service and this kindness is what propels the success of the organization. 
                    </p>
                </div>
                <div class="hidden">
                    <p>To provide refers to the physical items of our organziation. Without the clothes, the resources, the toilets, or the brand, our service’s impact is reduced. Hence, donations as much as service are just as important ttowards the structure of the organization. Both items and time are required to create a successful organization that will benefit the community.  </p>
                </div>
                <div class="hidden">
                    <p>To educate is a form of change unlike service or providing. To educate is to ensure that future generations will be able to break cycles that perpetuate harmful cycles of hygiene injustice. Although, hygiene equity requires a lot of time to be integrated into current systems, the use of education will allow future leaders to consider their importance. </p>
                </div>
            </div>
        </div>
        <div class="footer"></div>
        <script src="{{ url_for('static',filename='script/OctopotProcess.js') }}" async defer></script>
    </body>
</html>