<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gatewaycheckout</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/GatewayCheckout.css') }}">
    </head>
    <body>
        <p class="h1">Please Fill Out the Proper Information</p>
        <form action="post">
            <div class="billinginformation">
            <div>
                <span>Full Name:</span>
                <input type="text" placeholder="Please Enter Name" name="name">
                <span>Email:</span>
                <input type="email" placeholder="email" name="email">
                <span>Address:</span>
                <input type="text" placeholder="# + Street" name="address">
                <span>City:</span>
                <input type="text" placeholder="City" name="city">
                <span>State:</span>
                <input type="text" placeholder="State" name="state">
                <span>Zipcode:</span>
                <input type="text" placeholder="00000" name="zip">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/card_img.png') }}" alt="">
                <span>Name on Card:</span>
                <input type="text" placeholder="Name" name="nameCard">
                <span>Credit Card Number: </span>
                <input type="text" placeholder="1234 1234 1234 1234" name="cardNum">
                <span>Expiration Month</span>
                <input type="text" placeholder="Month" name="expMonth">
                <span>Expiration Year</span>
                <input type="text" placeholder="0000" name="expYear">
                <span>Card Number</span>
                <input type="text" placeholder="000" name="CVV">
            </div>
            </div>
            <div class="buttonContainer">
            <button type="button"id="backButton">Back</button>
            <button type="submit">Purchase</button>
            </div>
        </form>
        
        <script src="{{ url_for('static',filename='script/GatewayCheckout.js') }}" async defer></script>
    </body>
</html>