<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/OctopotAbout.css') }}">
    </head>
    <body>
        <div class="nav" id="nav">
            <div id="Home">
                <p class="h2" id="Hometext">Home</p>
            </div>
            <div id="Company">
                <p class="h2">Company</p>
            </div>
            <div id="Personal">
                <p class="h2">Personal</p>
            </div>
        </div>
        <div id="sky">
        <div class="globe" id="global">
            <img src="{{ url_for('static',filename='Mascots/Earth.png') }}" id="earth" alt="" width="800vh" height="800vh">
        </div>
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="textBeginning">
        <div class="header">
            <p class="h1">About Octopot</p>
        </div>
        <div class="content">
        <div class="hidden">
            <p id="word1">Octopot’s overall mission is to provide equal access to clean hygiene for all. As an organization we divide ourselves into two segments: charity work, and business. For our charity work, we aim at create opportunities for all people to have access to hygiene. This can include products such as those under the pink tax(feminine hygiene products), to adult and infant incontinence products. Our volunteer section works at finding ways to increase the access of these products for marginalized communities. 
            </p>
        </div>
        <div class="hidden">
            <p id="word2">If you see us at an event make sure to stop by and say hi. We will be hosting a variety of fundraisers, donations, and events to help gain resources for those in need. Additionally, a donation on the webpage can help just as much, even if you are buying merch for yourself. A percentage of all our proceeds go to helping those in need. 
            </p>
        </div>
        <div class="hidden">
            <p id="word3">As for our business, we work on privatizing and offering a temporary solution to waste management: Hydrothermal Carbonization. This technology we be utilized within our portable toilets and we will other people to distribute their waste in our facilities. Additionally, we plan on selling biofuel products and hydrochar products to potential consumers. 
            </p>
        </div>
        <div class="hidden">
            <p id="word4">Octopot has a mission to be environmentally friendly, and to emphasize its own commitment to charity work. Although one part of the organization might be a lot more profitable tha the other, both are as important, and every single consumer of our product, paying or not is respected. 
            </p>
        </div>
        </div>
        </div>
        <div class="hidden">
            <div class="footer">

            </div>
        </div>
        <script src="{{ url_for('static',filename='script/OctopotAbout.js') }}" async defer></script>
    </body>
</html>