<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/OctopotCompany.css') }}">
    </head>
    <body>
        <div class="nav" id="nav">
            <div id="Home">
                <p class="h2" id="Hometext">Home</p>
            </div>
            <div id="Company">
                <p class="h2">Company</p>
            </div>
            <div id="Personal">
                <p class="h2">Personal</p>
            </div>
        </div>
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="textBeginning">
        <div class="header">
            <p class="h1">Company</p>
        </div>
        <div class="content">
        <div class="hidden">
            <p id="word1">Whether it be the next hot music festival, a construction arrangment, or a large sports competion Octopot is willing
                to offer to companies and organizations it select line of dispensaries and portable toilets. Not only do we offer versatile
                eco-friendly solutions, but we offer themm at extremely affordable prices with large avalability.
            </p>
        </div>
        <div class="hidden">
            <p id="word2">Getting portable toilets with Octopot is a great temporary solution towards waste management. Rather than spending a ton 
                of money on permanent bathrooms are temporary bathrooms are easily adjustable, way cheaper, and a lot cleaner than your average 
                toilet. At Octopot we mesh together both luxury and flexibility. 
            </p>
        </div>
        </div>
        </div>
        <div class="hidden">
            <div class="footer">

            </div>
        </div>
        <script src="{{ url_for('static',filename='script/OctopotCompany.js') }}" async defer></script>
    </body>
</html>