<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/OctopotProcess.css') }}">
    </head>
    <body>
        <div class="nav" id="nav">
            <div id="Home">
                <p class="h2" id="Hometext">Home</p>
            </div>
            <div id="Company">
                <p class="h2">Company</p>
            </div>
            <div id="Personal">
                <p class="h2">Personal</p>
            </div>
        </div>
        <div class="carbon">
            <img src="{{ url_for('static',filename='Mascots/Carbon-01-01.png') }}" alt="" id="c">
        </div>
        <div class="spacer"></div>
        <div class="carbonStructure">

            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
            <div>
                <img src="{{ url_for('static',filename='Mascots/Carbon-02.png') }}" alt="" width="90%" height="70%">
            </div>
        </div>
        <div class="hidden" id="introText">
            <p>Carbon to Fuel</p>
            <p>In Geological Seconds...</p>
        </div>
        <div class="area" id="area">
            <div class="content">
                <div class="hidden">
                    <p  id="word1">We use a process known as Hydrothermal carbonization for our waste management services. This process works on many carbon-based substances and can reduce their harmful longevity into safe materials. The process requires reactors that will convert a solution of sewage into safer environmental products like biofuels, and hydrochar.
                    </p>
                </div>
                <div class="hidden">
                    <p id="word2">Using a hydrothermal(HTC) reactor, a solution of sewage can be heated at a specific pressure for an allotted amount of time to form HTC slurry which can later have its solids and liquids separated from each other. Leftover liquid solutions can be converted to biofuels, while the solid hydrochar from the solution can be dried, and used to help sustain our planet in multiple ways. 

                    </p>
                </div>
                <div class="hidden">
                    <p>HTC is a remarkable product that works with numerous amounts of products. The possibilities are seemingly endless, and it doe snot just stop at sewage. Unfortunately establishing a large presence throughout governments will take a lot longer, so as a temporary solution, Octopot is attempting to offer a privatized and temporary solution for this waste removal method. </p>
                </div>
                <div class="hidden">
                    <p>Biofuels can be used as an alternative to carbon emissions from gasoline fuel. Biofuels additionally being widely accessible will be a cheaper alternative. Furthermore, it will be ethically sourced unlike many gasoline products in the modern world. Currently, we are working on obtaining permits, and establishing this technology to a form that will fit the Octopot business. If you have any questions, please make sure to contact us!</p>
                </div>
            </div>
        </div>
        <div class="footer"></div>
        <script src="{{ url_for('static',filename='script/OctopotProcess.js') }}" async defer></script>
    </body>
</html>